<div class="contents">
  <div class="sidebar-left">
  </div>
  <div class="contents-main">
    <div class="upper-field">
      <div class="datetime-field">
      </div>
      <div class="btn">
      </div>
    </div>
    <div class="text-field">
    </div>
    <div class="task-field">
    </div>
  </div>
  <div class="sidebar-right">
  </div>
</div>
